@using SucursalLab.Models
@model EmpresaModel

@{
    ViewData["Title"]="Eliminar empresa";
}

<h3 class="mb-3"></h3>

<form asp-controller="Empresa" asp-action="DeleteEmpresa">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">AVISO</h5>
            <h6 class="card-subtitle mb-2 text-body-secundary">
                ¿Está seguro de que desea borrar la empresa?
            </h6>
            <p class="card-text">Sucursal de @Model.Name</p>
        </div>
    </div>

    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secundary" asp-controller="Empresa" asp-action="EmpresaList">Cancelar</a>



</form>
