@using SucursalLab.Models
@model SucursalModel

<h1 class="text-cennter">Registro de nueva sucursal</h1>
<br><br>

<form asp-action="AddSucursal" method="post" class="text-center">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label class="form-label" for="Name">Sucursal</label><br>
        <input asp-for="Name" placeholder="Escriba el nombre de la sucursal">

    </div>

    <label class="form-label" for="Empresa">Empresa</label><br>
        <input asp-for="Empresa" placeholder="Escriba el nombre de la empresa">
    </div>

    <div>
        <label class="form-label" for="Location">Ubicación</label><br>
        <input asp-for="Location" placeholder="Escriba la ubicación">
    </div>

    <div>
        <label class="form-label" for="NumEpleados"># de empleados</label><br>
        <input asp-for="NumEmpleados" placeholder="Escriba el número de empleados">
    </div>

    <div>
        <label class="form-label" for="Presupuesto">Presupuesto</label><br>
        <input asp-for="Presupuesto" placeholder="Escriba el presupuesto">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-outline-info" asp-action="AddSucursal" asp-controller="Sucursal">Regresar</a>

</form>

 